/* card-image hover */
.card-image .goto {
  display: none;
}

.card-image:hover .wrapper-image {
  background-color: #000;
  z-index: 1;
}

.card-image:hover .goto {
  display: block;
}

.card-image:hover .image {
  background-color: #000;
  opacity: 0.5;
}

/* Responsive */
@media (max-width: 30em) {
    .card-container {
        column-count: 2;
    }
}

@media (min-width: 30em) {
    .card-container {
        column-count: 3;
    }
}

@media (min-width: 48em) {
    .card-container {
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-container {
        column-count: 4;
    }
}

@media (min-width: 80em) {
    .card-container {
        column-count: 5;
    }
}

@media (min-width: 96em) {
    .card-container {
        column-count: 7;
    }
}

/* @media (min-width: 32em) {
    .card-container {
      column-count: 7;
    }
  }

@media (max-width: 104em) {
    .card-container {
      column-count: 7;
    }
  }

@media (max-width: 96em) {
    .card-container {
      column-count: 6;
    }
  }

@media (max-width: 80em) {
    .card-container {
      column-count: 5;
    }
  }

@media (max-width: 62em) {
    .card-container {
      column-count: 4;
    }
  }

@media (max-width: 48em) {
  .card-container {
    column-count: 3;
  }
}

@media (max-width: 30em) {
  .card-container {
    column-count: 2;
  }
} */
